### This is a sample configuration file for RV calculation script

[rv_settings]
# Instrument supported HARPS, HPF,...
instrument = HPF

# Method by which RV estimation has to be done
# Supported methods: SegmentedLSQ, ...
method = SegmentedLSQ

# Size of each Segment for SegmentedLSQ method
minsize = 50

# Sigma clipping threshod for combining RV estimates in a spectrum of each order
SigmaClipRV = 1.5

# Method to deal with negative calies in spectrum
# Supported algorithms: lift (adds a constant to entire spectrum), clip (clips at MinValue)
NegativeValues = lift
MinValue = 0

# Interpolation method to use
# Supported algorithms: BSpline (fast), BandLimited (slow)
Interpolation = BSpline

# Order int he spectrum to use for RV estimation
OrdersToUse = 0:27

# Number of pixels to Trim on edges of each order
TrimSize = 5


# Fits header key for Bary centric velocity
BaryRVHeaderKey = BRYV{0}
# Fits header key for BJD time
TimeHeaderKey = BJD_FW{0}

